{% extends 'news/full.html' %}

{% block title %}
    о нас
{% endblock %}

{% block content %}


 <div class="features">
        <h1>страница про нас</h1>
        <p>Платежная компания ОсОО «Связной Мир» была основана в 2015 году.<br>
В 2016 году получила две лицензии Национального банка Кыргызской Республики.<br>
ОсОО «Связной Мир» создала торговую марку “PayWay”.<br>
Наш платежный сервис осуществляет электронные платежи как: государственные, коммерческие, банковские и другие.<br>
<h3>Компания жөнүндө</h3>
ЖЧК «Связной Мир» төлөм кабыл алуу компаниясы 2015 жылы  негизделген.<br>
2016 жылы Кыргыз Республикасынын Улуттук Банкынын 2 линцезиясын алган.<br>
2020 жылы ЖЧК «Связной Мир» “PayWay” соода маркасын негиздеген.<br>
Биздин кызмат электрондук төлөмдөрдүн көпчүлүк түрлөрүн жүргүзүүгө мүмкүнчүлүк берет, алар: мамлекеттик, финансылык мекемелерге тийиштүүлөр жана башкалар.
    </p></p>
    </div>






{% endblock %}
