{% extends 'news/full.html' %}

{% block title %}
    контакты
{% endblock %}

{% block content %}



</p>

 <div class="features">
        <h1>Контакты</h1>
     <p>
ОсОО «Связной Мир»<br>
Юридический адрес: Кыргызская Республика, Баткенская обл, Кадамжайский р-н,
г. Кадамжай, ул. Гагарина 175-2<br>
Фактический адрес: Кыргызская Республика, г. Бишкек, ул. Чехова 7<br>
Регистрационный номер: 143787-3309-ООО, ИНН: 02701201510034<br>
ОКПО: 28818357, Лицензия НБКР: №3014060715, №2015060715<br>
Биздин байланыштар
ЖЧК «Связной Мир»
Юридикалык адрес: Кыргыз Республикасы, Баткен обл., Кадамжай р-ну, Кадамжай ш., Гагарин көчөсү 175-2<br>
Учурдагы дарек: Кыргыз Республикасы, Бишкек ш., Чехов көчөсү 7<br>
Каттоо номери:  143787-3309-ООО, ИНН: 02701201510034<br>
ОКПО: 28818357, КРУБ лицензиясы №3014060715, №2015060715</p>


<h3>Тейлөө кызматы</h3><br>
<p>
Call Center:
    <a href="+996 703 55 11 55">+996 703 55 11 55,</a> <a href="+996 553 55 11 55">996 553 55 11 55</a><br> <a href="+996 778 55 11 55">+996 778 55 11 55</a><br>
    <a href="whatsapp://send?&phone=+996703551155">WhatsApp: +996 703 55 11 55</a><br>

    Telegram: paywaykg<br>
    info@payway.kg<br>
    <a href="https:www.payway.kg">www.payway.kg</a><br>
    <a href="https://www.facebook.com/payway">facebook.com/PayWay</a><br>
</p>
 </div>



{% endblock %}
